body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: red;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
.container::before {
  content: "\2764";
  position: absolute;
  font-size: 70px;
  color: white;
  top: 5px;
  left: 30px;
}
p {
  position: absolute;
  font-size: 50px;
  color: white;
  top: -30px;
  right: 30px;
}

.edge {
  background-color: red;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -12px;
  left: 85px;
  transform: rotate(45deg);
}

.container:hover {
  box-shadow: 0 -20px 10px 2px rgba(255, 0, 0, 0.582),
    0 -50px 10px 2px rgba(255, 0, 0, 0.37),
    0 -0px 10px 2px rgba(255, 0, 0, 0.18);
  transform: scale(.5) rotate(-18deg);
}
