*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #222;
}

label {
    background-color: rgba(255, 255, 0, 0.605);
    width: 150px !important;
    height: 50px;
    display: inline-block;
    border-radius: 40px;
    border: 3px solid darkgray;
    position: relative;
    user-select: none;
    box-shadow: inset 9px 9px 18px #fff,inset -9px -9px 18px #fff;
}

label::before {
    content: "\2600";
    font-size: 50px;
    display: flex;justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -7px;
    left: -5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 0, 0.605);
    border-radius: 50%;

}
input:checked ~ label::before {
    content: "\263E";
    left: 90px;
    background-color: rgba(0, 255, 153, 0.605);
}
input:checked ~ label{
    background-color:rgba(0, 255, 153, 0.605) ;
}
input{
    user-select: none;
    opacity: 0;
}