body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.arrow {
  position: absolute;
  left: -70px;
  transition: all 0.5s;
  width: 0px;
  height: 80px;
  background-color: rgb(161, 55, 126);
  border-radius: 50px;
}
.arrow::after {
  content: "\276F";
  color: white;
  background-color: rgb(161, 55, 126);
  font-size: 40px;
  padding: 10px 30px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.text {
  margin: 0 30px;
  font-size: 50px;
  z-index: 10;
}

.border {
  width: 10px;
  height: 80px;
  background-color: gray;
  transition: all .5s;
}
.container:hover .arrow::after {
  content: "\279C";
  background-color: rgba(210, 19, 210, 0);

  /* display: none; */
}
.container:hover .arrow {
  left: -70px;
  width: 320px;
}
.container:hover .text {
  color: white;
  /* margin-right: -5px; */
}
.container:hover .border {
  position: absolute;
  right: 0;
  /* left: -70px; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  background-color: lightgray;
}
