body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
}
span {
  display: flex;
  font-size: 50px;
  border-right: 5px solid red;
  animation: lineMove 4s infinite alternate;
  width: 100%;
  overflow: hidden;
  letter-spacing: 15px;
}
.text-item {
  margin: 0 10px;
}

@keyframes lineMove {
  0% {
    width: 100%;
  }
  20% {
    width: 80%;
  }
  40% {
    width: 60%;
  }
  60% {
    width: 40%;
  }
  80% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}

/* ------------------- width px vs % have differnt moveing */
